In [2]:
import pandas as pd
import os

In [6]:
file_root = "/home/md_recorder_py/data/"
exchange_name = "gateio"
date_str = "20250417"
symbol = "BTCUSDT"
data_type = "spot.book_ticker"
file_localtion = os.path.join(file_root, exchange_name, date_str, f"{symbol}.{data_type}.parquet")

In [8]:
df = pd.read_parquet(f'/home/md_recorder_py/data/gateio/20250417/{files[0]}')

In [19]:
files[0]

'spot.book_ticker.SNT_USDT_20250417.parquet'

In [12]:
data_time = [i['time_ms'] * 1_000_000 for i in df['data']]
df['exchange_ts_ns'] = data_time

In [15]:
df

,timestamp,data,exchange_ts_ns
0,1744910692740680664,"{'time': 1744910692, 'time_ms': 1744910692748,...",1744910692748000000
1,1744910692796588691,"{'time': 1744910692, 'time_ms': 1744910692804,...",1744910692804000000
2,1744910692802856371,"{'time': 1744910692, 'time_ms': 1744910692810,...",1744910692810000000
3,1744910692830699779,"{'time': 1744910692, 'time_ms': 1744910692838,...",1744910692838000000
4,1744910692835575869,"{'time': 1744910692, 'time_ms': 1744910692843,...",1744910692843000000
...,...,...,...
777,1744910960264051231,"{'time': 1744910960, 'time_ms': 1744910960259,...",1744910960259000000
778,1744910960280340639,"{'time': 1744910960, 'time_ms': 1744910960279,...",1744910960279000000
779,1744910960507735617,"{'time': 1744910960, 'time_ms': 1744910960504,...",1744910960504000000
780,1744910960511454833,"{'time': 1744910960, 'time_ms': 1744910960511,...",1744910960511000000
781,1744910960518863794,"{'time': 1744910960, 'time_ms': 1744910960521,...",1744910960521000000

In [16]:
df['data_latency_ns'] = df['timestamp'] - df['exchange_ts_ns']

In [18]:
df.tail()

,timestamp,data,exchange_ts_ns,data_latency_ns
777,1744910960264051231,"{'time': 1744910960, 'time_ms': 1744910960259,...",1744910960259000000,5051231
778,1744910960280340639,"{'time': 1744910960, 'time_ms': 1744910960279,...",1744910960279000000,1340639
779,1744910960507735617,"{'time': 1744910960, 'time_ms': 1744910960504,...",1744910960504000000,3735617
780,1744910960511454833,"{'time': 1744910960, 'time_ms': 1744910960511,...",1744910960511000000,454833
781,1744910960518863794,"{'time': 1744910960, 'time_ms': 1744910960521,...",1744910960521000000,-2136206