In [2]:
import pandas as pd
import os

In [3]:
file_root = "/home/md_recorder_py/data/"
exchange_name = "gateio"
date_str = "20250430"
symbol = "BTC_USDT"
data_type = "spot.book_ticker"
file_localtion = os.path.join(file_root, exchange_name, date_str, f"{data_type}.{symbol}_{date_str}.parquet")

In [4]:
df = pd.read_parquet(file_localtion)

In [5]:
data_time = [i['time_ms'] * 1_000_000 for i in df['data']]
df['exchange_ts_ns'] = data_time

KeyError: 'data'

In [6]:
df

,time,time_ms,channel,event,result.t,result.u,result.s,result.b,result.B,result.a,result.A,recv_ts_ns
0,1746036665,1746036665835,spot.book_ticker,update,1746036665835,23382640005,BTC_USDT,94300.5,0.20791,94300.6,0.40072,1746036665832636851
1,1746036665,1746036665878,spot.book_ticker,update,1746036665878,23382640010,BTC_USDT,94300.5,0.20791,94300.6,0.53232,1746036665875820423
2,1746036665,1746036665923,spot.book_ticker,update,1746036665922,23382640017,BTC_USDT,94300.5,0.21395,94300.6,0.53232,1746036665920290361
3,1746036665,1746036665929,spot.book_ticker,update,1746036665929,23382640021,BTC_USDT,94300.5,0.20791,94300.6,0.53232,1746036665927383792
4,1746036665,1746036665965,spot.book_ticker,update,1746036665965,23382640040,BTC_USDT,94300.5,0.1655,94300.6,0.53232,1746036665985873067
...,...,...,...,...,...,...,...,...,...,...,...,...
942,1746036698,1746036698986,spot.book_ticker,update,1746036698986,23382651771,BTC_USDT,94377.8,0.48491,94377.9,0.18192,1746036698983824793
943,1746036698,1746036698993,spot.book_ticker,update,1746036698993,23382651774,BTC_USDT,94377.8,0.4801,94377.9,0.16162,1746036698990453613
944,1746036699,1746036699013,spot.book_ticker,update,1746036699013,23382651780,BTC_USDT,94377.8,0.48469,94377.9,0.16162,1746036699025260370
945,1746036699,1746036699028,spot.book_ticker,update,1746036699019,23382651781,BTC_USDT,94377.8,0.4801,94377.9,0.16162,1746036699025450774
946,1746036699,1746036699167,spot.book_ticker,update,1746036699166,23382651815,BTC_USDT,94377.8,0.4801,94377.9,0.16214,1746036699164488090

In [39]:
df['data_latency_ns'] = df['timestamp'] - df['exchange_ts_ns']
df['data_latency_ms'] = df['data_latency_ns'] / 1_000_000

In [40]:
df.tail()

,timestamp,data,exchange_ts_ns,data_latency_ns,data_latency_ms
2025-04-17 17:36:12.876275159,1744911372876275159,"{'time': 1744911372, 'time_ms': 1744911372719,...",1744911372719000000,157275159,157.275159
2025-04-17 17:36:12.876290409,1744911372876290409,"{'time': 1744911372, 'time_ms': 1744911372727,...",1744911372727000000,149290409,149.290409
2025-04-17 17:36:12.876304930,1744911372876304930,"{'time': 1744911372, 'time_ms': 1744911372739,...",1744911372739000000,137304930,137.304930
2025-04-17 17:36:13.098408870,1744911373098408870,"{'time': 1744911373, 'time_ms': 1744911373041,...",1744911373041000000,57408870,57.408870
2025-04-17 17:36:13.098427460,1744911373098427460,"{'time': 1744911373, 'time_ms': 1744911373058,...",1744911373058000000,40427460,40.427460

In [41]:
df.set_index(pd.to_datetime(df['timestamp'].to_list(), unit='ns'), inplace=True)

In [42]:
df

,timestamp,data,exchange_ts_ns,data_latency_ns,data_latency_ms
2025-04-17 17:24:29.871005747,1744910669871005747,"{'time': 1744910669, 'time_ms': 1744910669852,...",1744910669852000000,19005747,19.005747
2025-04-17 17:24:29.871017538,1744910669871017538,"{'time': 1744910669, 'time_ms': 1744910669859,...",1744910669859000000,12017538,12.017538
2025-04-17 17:24:29.871037889,1744910669871037889,"{'time': 1744910669, 'time_ms': 1744910669866,...",1744910669866000000,5037889,5.037889
2025-04-17 17:24:29.871045209,1744910669871045209,"{'time': 1744910669, 'time_ms': 1744910669872,...",1744910669872000000,-954791,-0.954791
2025-04-17 17:24:29.871052049,1744910669871052049,"{'time': 1744910669, 'time_ms': 1744910669877,...",1744910669877000000,-5947951,-5.947951
...,...,...,...,...,...
2025-04-17 17:36:12.876275159,1744911372876275159,"{'time': 1744911372, 'time_ms': 1744911372719,...",1744911372719000000,157275159,157.275159
2025-04-17 17:36:12.876290409,1744911372876290409,"{'time': 1744911372, 'time_ms': 1744911372727,...",1744911372727000000,149290409,149.290409
2025-04-17 17:36:12.876304930,1744911372876304930,"{'time': 1744911372, 'time_ms': 1744911372739,...",1744911372739000000,137304930,137.304930
2025-04-17 17:36:13.098408870,1744911373098408870,"{'time': 1744911373, 'time_ms': 1744911373041,...",1744911373041000000,57408870,57.408870
2025-04-17 17:36:13.098427460,1744911373098427460,"{'time': 1744911373, 'time_ms': 1744911373058,...",1744911373058000000,40427460,40.427460